<h1>Details</h1>

<p>Name: <%= @list.name %></p>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.comment %></li>
  <% end %>
</ul>

<%= link_to 'Back', lists_path %>
<%= link_to 'Add a bookmark', new_list_bookmark_path(@list) %>
